body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
}
main{
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

}
img{
    width: 100%;
}
article{
    margin: 10px;
    width: 80%;

}
.caja{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    width: 100%;

}
.precioYdescuento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

#camion{
    background-color: white;
    color: #39b54a;
    text-align: center;
    margin: auto;
   display:flex;
   justify-content:center;
   align-items:center;
   position: relative;

    
}
.circulo{
    border-radius: 150px;
    border: solid #39b54a 1px;
    width: 50px;
    height: 50px;
    text-align: right;
    margin-left: auto;
   display:flex;
   justify-content:right;
   align-items:right;
   position: relative;

}

.busqueda{
    background-color: #ebebeb;
    color: #666;
    font-size: 16px;
}
.cuotas{
    text-align: center;
    font-size: 16px;
}
#lupa{
    background-color: white;
}
#credito{
    background-color: #EAC926;
}
ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
ul li{
    list-style: none;

}
#crearCuenta{
    background-color: #EAC926;
}
#ingresa{
    background-color: #EAC926;
}
#compras{
    background-color: #EAC926;
}
h1{
    font-size: 24px;
    color: #666;
}
.precio{
    font-size: 18px;
    width: 9%;
    font-weight: bold;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 91%;
}
.descripcion{
    font-size: 16px;
    color: #666;
    font-weight: bolder;
}
.burger-menu{
   background-color: #1259c3;
   color: white;
   width: 40px;
   height: 40px;
   text-align: center;
   margin: auto;
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius: 10px;
}
#debitoIcono{
    display: flex;
    font-size: 2em;
    background-color: white;
    color: #1259c3;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    margin-bottom: 10px;
}
#envio{
    display: flex;
    font-size: 2em;
    background-color: white;
    color: #1259c3;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    margin-bottom: 10px;
}
#seguridad{
    display: flex;
    font-size: 2em;
    background-color: white;
    color: #1259c3;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    margin-bottom: 10px;
}
h4{
    text-align: center;
    color: #666;
}
p{
    text-align: center;
    color: #666;
}
*{
    margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/* Version mobile */

@media (max-width: 361px){
    .descripcion{
       display: none;
    }
    header ul{
        display: none;
        width: 100vh;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    img{
        width: 90vw;
    }

    .banner{
        width: 60vh;
    }
    .precio{
        width: 25vh;
    }
    .descuento{
        width: 75vh;
    }
    .precioYdescuento{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    
    }
    .caja{
        width: 54vh;
    }
    
}

/* version desktop */


@media (min-width: 769px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}


/* version tablets */

@media (min-width: 361px){
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .precio{
        width: 15vh;
    }
    .descuento{
        width: 85vh;
    }
    .precioYdescuento{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    
    }
    .caja{
        width: 54vh;
    }
    .burger-menu{
        display: none;
    }

}
    
